<!DOCTYPE html>
<html>
<head>
    <title>Gerenciamento de Senhas</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Visualização</h1>
    <h2>Guichê: {{ guiche }}</h2>
    <h2>Senha Atual: {{ senha_atual }}</h2>
    <form method="POST" action="/chamar_proximo">
        <button type="submit">Próximo</button>
    </form>
    <form method="POST" action="/">
        <button type="submit">Sair</button>
    </form>
</body>
</html>
